
<%- include('header') %>
    
    <div class="container">
        <div class="header">
            <h3><%=Expenses%></h3>
        </div>
        <div class="container-inner">
            <div class="content">
                <h4>Update Your Expenses</h4>
            </div>
            <div class="info">
                <form action="/" method="POST">
                    <input type="text" class='news-letter' name="category" placeholder="under what category...?" autocomplete='off'>
                    <input type="text" class='news-letter' name="title" placeholder="what was it?" autocomplete="off">
                    <input type="number" class='news-letter' name="cost" placeholder="How much?" autocomplete="off">

                    <button class='btn' type="submit">Add Expense</button>
                </form>
            </div>
        </div>
        
    </div>
    <%- include('footer') %>
